[*]
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
charset = utf-8
max_line_length = 120
end_of_line = crlf
trim_trailing_whitespace = true

[*.sln]
indent_style = tab

[*.csproj]
indent_size = 2
max_line_length = off

[*.cs]
# C# - Braces Layout
# https://www.jetbrains.com/help/rider/EditorConfig_CSHARP_BracesPageSchema.html

# Braces Layout
resharper_csharp_brace_style = end_of_line
# That sets following properties:

# Type and namespace declaration
# resharper_csharp_type_declaration_braces = end_of_line

# Indent inside namespace declaration
resharper_csharp_indent_inside_namespace = false

# Method declaration
# resharper_csharp_invocable_declaration_braces = end_of_line

# Lambda and delegate (anonymous method declaration)
# resharper_csharp_anonymous_method_declaration_braces = end_of_line

# Property declaration
# resharper_csharp_accessor_owner_declaration_braces = end_of_line

# Accessor declaration
# resharper_csharp_accessor_declaration_braces = end_of_line

# Block under "case" label
# resharper_csharp_case_block_braces = end_of_line

# Array and object initializer
# resharper_csharp_initializer_braces = end_of_line

# Use continuous line indent inside initializer braces
# TODO: does it work?
resharper_csharp_use_continuous_indent_inside_initializer_braces = true

# Other
# resharper_csharp_other_braces = end_of_line

# Allow comment after '{'
resharper_csharp_allow_comment_after_lbrace = true

# Empty braces formatting
resharper_csharp_empty_block_style = multiline


# C# - Tabs, Indents, Alignment
# https://www.jetbrains.com/help/rider/EditorConfig_CSHARP_CSharpIndentStylePageSchema.html

# General
# Indent style
csharp_indent_style = spaces

# Indent size
csharp_indent_size = 4

# Tab width
csharp_tab_width = 4

# Continuous line indent multiplier
# TODO: does it work?
resharper_csharp_continuous_indent_multiplier = 1


# Nested Statements
# Indent nested "using" statements
resharper_csharp_indent_nested_usings_stmt = false

# Indent nested "fixed" statements
resharper_csharp_indent_nested_fixed_stmt = false

# Indent nested "lock" statements
resharper_csharp_indent_nested_lock_stmt = false

# Indent nested "for" statements
resharper_csharp_indent_nested_for_stmt = false

# Indent nested "foreach" statements
resharper_csharp_indent_nested_foreach_stmt = false

# Indent nested "while" statements
resharper_csharp_indent_nested_while_stmt = false


# Parenthesis
# Use continuous line indent inside parenthesis
# TODO: does it work?
resharper_csharp_use_continuous_indent_inside_parens = true

# Indent method declarations' parenthesis
resharper_csharp_indent_method_decl_pars = inside

# Indent method calls' parenthesis
resharper_csharp_indent_invocation_pars = inside

# Indent statement (if, while, for, etc) parenthesis
resharper_csharp_indent_statement_pars = inside

# Indent type parameter's angles
resharper_csharp_indent_typeparam_angles = inside

# Indent type argument's angles
resharper_csharp_indent_typearg_angles = inside

# Indent other parenthesis and brackets
resharper_csharp_indent_pars = inside


# Preprocessor Directives
# Indent #if, #else, #elif, #endif
resharper_csharp_indent_preprocessor_if = no_indent

# Indent #region, #endregion
resharper_csharp_indent_preprocessor_region = usual_indent

# Indent other preprocessor directives
resharper_csharp_indent_preprocessor_other = no_indent


# Other Indents
# Indent "case" from "switch"
csharp_indent_switch_labels = true

# Indent type constraints
resharper_csharp_indent_type_constraints = true

# Don't indent comments started at first column
resharper_csharp_stick_comment = false


# Align Multiline Constructs
# How to align when tabs are used for indents
resharper_csharp_alignment_tab_fill_style = spaces

# Method parameters
resharper_csharp_align_multiline_parameter = true

# List of base classes and interfaces
resharper_csharp_align_multiline_extends_list = true

# LINQ query
resharper_csharp_align_linq_query = true

# Chained binary expressions
resharper_csharp_align_multiline_binary_expressions_chain = true

# Outdent binary operators
resharper_csharp_outdent_binary_ops = true

# Chained method calls
resharper_csharp_align_multiline_calls_chain = true

# Outdent dots in chained method calls
resharper_csharp_outdent_dots = true

# Array, object and collection initializer
resharper_csharp_align_multiline_array_and_object_initializer = false

# Anonymous method body
resharper_csharp_indent_anonymous_method_block = false

# First call arguments by '('
resharper_csharp_align_first_arg_by_paren = false

# Call arguments
resharper_csharp_align_multiline_argument = true

# Tuple components
resharper_csharp_align_tuple_components = true

# Other expressions
resharper_csharp_align_multiline_expression = true

# "for" statement header
resharper_csharp_align_multiline_for_stmt = true

# Multiple declarations
resharper_csharp_align_multiple_declaration = true

# Type parameters list
resharper_csharp_align_multline_type_parameter_list = true

# Type parameter constraints
resharper_csharp_align_multline_type_parameter_constrains = true

# Outdent commas
resharper_csharp_outdent_commas = true


# Align Similar Code in Columns

resharper_csharp_int_align = false
# That sets following properties:

# Fields and constants
# resharper_csharp_int_align_fields = false

# Properties and events
# resharper_csharp_int_align_properties = false

# Simple methods, operators, delegates
# resharper_csharp_int_align_methods = false

# Multiline method signature
# resharper_csharp_int_align_parameters = false

# Variables and local constants
# resharper_csharp_int_align_variables = false

# Other assignments and initializers
# resharper_csharp_int_align_assignments = false

# Nested ternary operators
# resharper_csharp_int_align_nested_ternary = false

# Invocations of the same method
# resharper_csharp_int_align_invocations = false

# Binary expressions
# resharper_csharp_int_align_binary_expressions = false

# End comments
resharper_csharp_int_align_comments = true

# Simple switch sections
resharper_csharp_int_align_switch_sections = false


# C# - Blank Lines
# https://www.jetbrains.com/help/rider/EditorConfig_CSHARP_BlankLinesPageScheme.html

# General

# Around region
resharper_csharp_blank_lines_around_region = 1

# Inside region
resharper_csharp_blank_lines_inside_region = 1

# Before single-line comment
resharper_csharp_blank_lines_before_single_line_comment = 1


# Blank Lines in Declarations

# Keep max blank lines in declarations
resharper_csharp_keep_blank_lines_in_declarations = 1

# Remove blank lines after "{" and before "}" in declarations
resharper_csharp_remove_blank_lines_near_braces_in_declarations = true

# After file header comment
resharper_csharp_blank_lines_after_start_comment = 2

# Between different "using" groups
resharper_csharp_blank_lines_between_using_groups = 1

# After "using" list
resharper_csharp_blank_lines_after_using_list = 2

# Around namespace
resharper_csharp_blank_lines_around_namespace = 2

# Inside namespace
resharper_csharp_blank_lines_inside_namespace = 1

# Around type
resharper_csharp_blank_lines_around_type = 1

# Inside type
resharper_csharp_blank_lines_inside_type = 1

# Around field
resharper_csharp_blank_lines_around_field = 1

# Around single line field
resharper_csharp_blank_lines_around_single_line_field = 0;

# Around property/event
resharper_csharp_blank_lines_around_property = 1

# Around single line property/event
resharper_csharp_blank_lines_around_single_line_property = 0

# Around auto/abstract property/event
resharper_csharp_blank_lines_around_auto_property = 1

# Around single line auto/abstract property/event
resharper_csharp_blank_lines_around_single_line_auto_property = 0

# Around method
resharper_csharp_blank_lines_around_invocable = 1

# Around single line method
resharper_csharp_blank_lines_around_single_line_invocable = 1


# Blank Lines in Code

# Keep max blank lines in code
resharper_csharp_keep_blank_lines_in_code = 1

# Remove blank lines after "{" and before "}" in code
resharper_csharp_remove_blank_lines_near_braces_in_code = true

# Around local function
resharper_csharp_blank_lines_around_local_method = 1

# Around single line local function
resharper_csharp_blank_lines_around_single_line_local_method = 0

# Before statements with control transfer
resharper_csharp_blank_lines_before_control_transfer_statements = 0

# After statements with control transfer
resharper_csharp_blank_lines_after_control_transfer_statements = 1

# Before statements with child blocks
resharper_csharp_blank_lines_before_block_statements = 0

# After statements with child blocks
resharper_csharp_blank_lines_after_block_statements = 1

# Before multiline statements
resharper_csharp_blank_lines_before_multiline_statements = 0

# After multiline statements
resharper_csharp_blank_lines_after_multiline_statements = 1



# C# - CodeStyle
# https://www.jetbrains.com/help/rider/EditorConfig_CSHARP_CSharpCodeStylePageImplSchema.html

# 'var' Usage in Declarations

# For built-in types
resharper_csharp_for_built_in_types = use_explicit_type

# For simple types
resharper_csharp_for_simple_types = use_explicit_type

# Elsewhere
resharper_csharp_for_other_types = can_use_either


# Prefer separate declarations for deconstructed variables
resharper_csharp_prefer_separate_deconstructed_variables_declaration = true

# Use 'var' keyword for discards
resharper_csharp_prefer_explicit_discard_declaration = false


# Instance Members Qualification

# Use "this." qualifier for
resharper_csharp_instance_members_qualify_members = none

# Qualify members declared in
resharper_csharp_instance_members_qualify_declared_in = this_class, base_class


# Static Members Qualification

# Qualify with the name of
resharper_csharp_static_members_qualify_with = declared_type

# Members to qualify
resharper_csharp_static_members_qualify_members = none


# Built-in Types

# In locals, members and parameters, prefer
resharper_csharp_builtin_type_reference_style = use_keyword

# In member access expressions, prefer
resharper_csharp_builtin_type_reference_for_member_access_style = use_keyword


# Reference Qualification

# Prefer fully qualified references
resharper_csharp_prefer_qualified_reference = false

# Add 'using' directive to deepest scope
resharper_csharp_add_imports_to_deepest_scope = false

# Prefer fully qualified using name at nested scope
resharper_csharp_qualified_using_at_nested_scope = false

# Use using alias directive to resolve conflicts
resharper_csharp_allow_alias = true

# Allow 'global::' prefix use
resharper_csharp_can_use_global_alias = true


# Modifiers

# Prefer explicit/implicit private modifier for type members
resharper_csharp_default_private_modifier = explicit

# Prefer explicit/implicit internal modifier for types
resharper_csharp_default_internal_modifier = explicit

# Modifiers order
resharper_csharp_modifiers_order = public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async


# Arguments

# Skip single arguments
resharper_csharp_arguments_skip_single = false

# Literal values
resharper_csharp_arguments_literal = positional

# String literal values
resharper_csharp_arguments_string_literal = positional

# Named expressions (variables, properties, methods, etc.)
resharper_csharp_arguments_named = positional

# Anonymous methods (delegates and lambdas)
resharper_csharp_arguments_anonymous_function = positional

# Other
resharper_csharp_arguments_other = positional


# Parentheses

# Remove redundant parentheses
resharper_csharp_parentheses_redundancy_style = remove_if_not_clarifies_precedence

# Add parentheses to avoid non-obvious precedence. Select which operations has non-obvious precedence
resharper_csharp_parentheses_non_obvious_operations = shift, bitwise


# Braces

# In "if" statement
resharper_csharp_braces_for_ifelse = not_required_for_both

# In "for" statement
resharper_csharp_braces_for_for = not_required

# In "foreach" statement
resharper_csharp_braces_for_foreach = not_required

# In "while" statement
resharper_csharp_braces_for_while = not_required

# In "do-while" statement
resharper_csharp_braces_for_dowhile = required

# In "using" statement
resharper_csharp_braces_for_using = required

# In "lock" statement
resharper_csharp_braces_for_lock = required

# In "fixed" statement
resharper_csharp_braces_for_fixed = required

# Remove redundant
resharper_csharp_braces_redundant = true


# Code Body

# Methods and operators
resharper_csharp_method_or_operator_body = block_body

# Local functions
resharper_csharp_local_function_body = block_body

# Constructors and destructors
resharper_csharp_constructor_or_destructor_body = block_body

# Properties, indexers and events
resharper_csharp_accessor_owner_body = expression_body

# Apply style heuristics
resharper_csharp_use_heuristics_for_body_style = true


# Attributes

# Join or separate attributes in section
resharper_csharp_force_attribute_style = separate



# C# - Line Breaks
# https://www.jetbrains.com/help/rider/EditorConfig_CSHARP_LineBreaksPageSchema.html#Arrangement_of_Statements


# General

# Keep existing line breaks
resharper_csharp_keep_user_linebreaks = true

# Hard wrap at
# -- overrides max_line_length --
# csharp_max_line_length = 120

# Prefer wrap before ","
resharper_csharp_wrap_before_comma = false

# Special "else if" treatment
resharper_csharp_special_else_if_treatment = true

# Line feed at end of file
# -- overrides insert_final_newline --
# csharp_insert_final_newline = true


# Arrangement of Attributes

# Place attribute section list on separate line if it is longer than
resharper_csharp_max_attribute_length_for_same_line = 38

# Keep existing arrangement of attributes
resharper_csharp_keep_existing_attribute_arrangement = false

# Place attribute on same line
# -- overrides following --
resharper_csharp_place_attribute_on_same_line = never

# Place type attribute on same line
# resharper_csharp_place_type_attribute_on_same_line = never

# Place method attribute on same line
# resharper_csharp_place_method_attribute_on_same_line = never

# Place property/indexer/event attribute on same line
# resharper_csharp_place_accessorholder_attribute_on_same_line = never

# Place accessor attribute on same line
# resharper_csharp_place_accessor_attribute_on_same_line = never

# Place field attribute on same line
# resharper_csharp_place_field_attribute_on_same_line = never


# Arrangement of Method Signatures

# Wrap formal parameters
resharper_csharp_wrap_parameters_style = wrap_if_long

# Max formal parameters on a single line
resharper_csharp_max_formal_parameters_on_line = 5

# Keep existing arrangement of parenthesis in declaration
resharper_csharp_keep_existing_declaration_parens_arrangement = false

# Prefer wrap before "(" in declaration
resharper_csharp_wrap_before_declaration_lpar = false

# Prefer wrap after "(" in declaration
resharper_csharp_wrap_after_declaration_lpar = true

# Prefer wrap before ")" in declaration
resharper_csharp_wrap_before_declaration_rpar = true

# Allow constructor initializer on same line
resharper_csharp_place_constructor_initializer_on_same_line = true


# Arrangement of Expression Bodied Members

# Keep existing arrangement of expression bodied members
resharper_csharp_keep_existing_expr_member_arrangement = false

# Place method expression body on same line
resharper_csharp_place_expr_method_on_single_line = if_owner_is_single_line

# Place property expression body on same line
resharper_csharp_place_expr_property_on_single_line = if_owner_is_single_line

# Place property accessor expression body on same line
resharper_csharp_place_expr_accessor_on_single_line = if_owner_is_single_line

# Prefer wrap before "=>" followed by expressions
resharper_csharp_wrap_before_arrow_with_expressions = false


# Arrangement of Type Parameters, Constraints and Base Types

# Allow type constraints on same line
resharper_csharp_place_type_constraints_on_same_line = true

# Prefer wrap before first constraint
resharper_csharp_wrap_before_first_type_parameter_constraint = true

# Wrap multiple type parameter constraints
resharper_csharp_wrap_multiple_type_parameter_constraints_style = wrap_if_long

# Prefer wrap before type parameters opening angle
resharper_csharp_wrap_before_type_parameter_langle = false

# Prefer wrap before ":"
resharper_csharp_wrap_before_extends_colon = false

# Wrap extends/implements list
resharper_csharp_wrap_extends_list_style = wrap_if_long


# Arrangement of Declaration Blocks

# Keep existing arrangement of declaration blocks
resharper_csharp_keep_existing_declaration_block_arrangement = false

# Place abstract/auto property/indexer/event declaration on single line
resharper_csharp_place_abstract_accessorholder_on_single_line = true
resharper_csharp_place_simple_blocks_on_single_line = true
resharper_csharp_place_simple_declaration_blocks_on_single_line = true

# Place simple property/indexer/event declaration on single line
resharper_csharp_place_simple_accessorholder_on_single_line = false
resharper_csharp_place_simple_blocks_on_single_line = false
resharper_csharp_place_simple_declaration_blocks_on_single_line = false

# 
